@import url('https://fonts.googleapis.com/css?family=Noto Sans:700|Noto Sans:400');

:root {
    --font: 'Noto Sans', ui-sans-serif;
    --p: 1rem;
    --h: 1.2rem;
    --white: #fff;
    --darkgrey: #050505;
}

* {
    color: var(--white);
}

::-webkit-scrollbar {
    width: 0.5vw;
}

::-webkit-scrollbar-track {
    background: #050505;
}

::-webkit-scrollbar-thumb {
    background-color: var(--white);
    border-radius: 100vw;
}

body {
    background-image: url("Images/Skeiron_index_background.png");
    background-size: 100%;
    height: 300vh;
    width: 100%;
    font-family: var(--font);
    margin: 0;
    position: relative;

    @media screen and (max-width: 767px) {
        background-size: auto;
        width: 100%;
        height: auto;
    }
}

nav {
    position: fixed;
    top: 0;
    height: 6rem;
    display: flex;
    flex-direction: row;
    padding: 0 2rem;
    box-sizing: border-box;
    width: 100%;
    z-index: 5;
}

.menu {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    font-size: 1.2rem;

    @media screen and (max-width: 767px) {
        font-size: 16px;
        justify-content: right;
    }
}

.sections {
    position: relative;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    gap: 2rem;
    justify-content: center;

    @media screen and (max-width: 767px) {
        gap: 1.2rem;
        display: none;
    }
}

nav p {
    padding: 0;
    margin: 0;
}

.sections a {
    text-decoration: none;
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;

    appearance: none;
    outline: none;
    background: none;
    border: none;

    z-index: 20;

    @media screen and (min-width: 767px) {
        display: none;
    }
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #FFF;
    margin: 6px 0px;
    transition: 0.4s;
    opacity: 1;
    z-index: 98;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-9px, 6px);
    opacity: 1;
}

.hamburger.is-active:after {
    transform: rotate(45deg) translate(-7px, -4px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile_nav {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #050505;
    z-index: 1;
    padding-top: 120px;
    transition: 0.4s;

    @media screen and (min-width: 767px) {
        display: none;
    }
}

.mobile_nav.is-active {
    left: 0;
}

.mobile_nav a {
    display: block;
    text-align: center;
    margin-bottom: 16px;
    padding: 12px 16px;
    background-color: black;
    /* border-radius: 10px; */
    border: 1px solid #444;
    /* box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.05); */
    cursor: pointer;
    text-decoration: none;
}

.index_section_1 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: fade-out linear both;
    animation-timeline: view();
    animation-range: cover 50% cover 65%;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.index_section_1_sub {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

h1 {
    font-size: 72px;
}

.index_section_1_sub ul {
    padding-inline-start: var(--p);

    @media screen and (max-width: 767px) {
        padding-inline-start: calc(3*var(--p));
    }
}

.index_section_1 li {
    list-style-type: "> ";
    line-height: 2rem;
}

.index_section_2 {
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;

    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;

    @media screen and (max-width: 767px) {
        justify-content: center;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.index_section_2_sub_a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    font-size: var(--p);
    line-height: 1.5rem;

    @media screen and (max-width: 767px) {
        width: 90%;
        text-align: justify;
    }
}

h2 {
    font-size: var(--h);
}

.index_section_2_sub_b {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.index_section_3 {
    height: 100vh;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;

    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;

    @media screen and (max-width: 767px) {
        height: 1740px;
        align-items: flex-start;
        animation: none;
    }
}

.services_cards {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-family: var(--font);

    @media screen and (max-width: 767px) {
        flex-direction: column;
        align-items: center;
        justify-content: start;
        column-gap: 0;
        row-gap: 20px;
        height: 1740px;
        padding-bottom: 40px;
        margin-top: 40px;
    }
}

.services_cards div {
    height: 500px;
    width: 300px;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 15px rgba(255, 255, 255, 0.1);

    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
        width: 280px;
        padding: 20px;
        justify-content: center;
        
        background-color: black;
    }
}

.services_cards div h3 {
    font-weight: lighter;
    font-size: var(--h);
}

.services_cards div p {
    font-size: var(--p);
    text-align: center;
    line-height: 1.5rem;
}

.services_cards div li {
    list-style-type: "> ";
    line-height: 2rem;
}

.services_cards div a {
    width: 100%;
}

#card {
    background-image: 
        linear-gradient(black, black),
        linear-gradient(calc(var(--rotation)), #888, 0, #444 20%,
        transparent 80%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    position: relative;
}

#secondary {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #888;
    color: white;
    background-color: black;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.15);
    transition: all 0.2 ease;
    cursor: pointer;

    @media screen and (max-width: 450px) {
        color: black;
        background-color: white;
        box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.25);
    }
}

#secondary:hover {
    color:black;
    background-color: white;

    @media screen and (max-width: 767px) {
        color: white;
        background-color: black;
    }
}

#main {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #888;
    color: black;
    background-color: white;
    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.25);
    transition: all 0.2 ease;
    cursor: pointer;
}

#main:hover {
    color: white;
    background-color: black;
}

.dual_section {
    background-image: url("Images/Skeiron_index_background.png");
    background-size: 100vw;
    height: 200vh;
    width: 100%;
    font-family: var(--font);
    margin: 0;
    position: relative;

    @media screen and (max-width: 767px) {
        background-size: auto;
        width: 100%;
        height: auto;
    }
}

.services_desc {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    animation: fade-out linear both;
    animation-timeline: view();
    animation-range: cover 50% cover 65%;
}

.services_desc_sub {
    display: flex;
    flex-direction: column;;
    width: 50vw;
    line-height: 1.5rem;

    @media screen and (max-width: 767px) {
        width: 65%;
        margin-top: 10vh;
    }
}

.services_desc_sub h1 {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.services_desc_sub h1 {
    text-align: center;
}

.service_learn_more {
    width: 100%;
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;

    @media screen and (min-width: 767px) {
        animation: fade-out linear both;
        animation-timeline: view();
        animation-range: cover 50% cover 65%;
    }

    @media screen and (max-width: 767px) {
        height: auto;
    }
}

.service_learn_more_sub {
    width: 75%;
    line-height: 1.5rem;

    @media screen and (max-width: 767px) {
        margin-top: 10vh;
    }
}

.service_learn_more_sub h1 {
    text-align: center;
}

.contact {
    height: 200vh;

    @media screen and (max-width: 767px) {
        height: 200vh;
    }
}

.contact_front {
    width: 100%;
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;

    animation: fade-out linear both;
    animation-timeline: view();
    animation-range: cover 50% cover 65%;
}

.contact_front_sub {
    width: 65%;
    line-height: 1.5rem;
}

.contact_front_sub h1 {
    text-align: center;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.contact_form {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    animation: fade linear both;
    animation-timeline: view();
    animation-range: entry 50% cover 50%;
}

.contact_form_sub {
    text-align: center;

    @media screen and (max-width: 767px) {
        width: 70%;
    }
}

.contact_form_sub p {
    line-height: var(--p);
}

.portfolio {
    height: 200vh;
}

.portfolio_front {
    width: 100%;
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;

    animation: fade-out linear both;
    animation-timeline: view();
    animation-range: cover 50% cover 65%;
}

.portfolio_front_sub {
    width: 65%;
    line-height: 1.5rem;
}

.portfolio_front_sub h1 {
    text-align: center;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.portfolio_items {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio_items_sub {
    text-align: center;
}

.about_front {
    width: 100%;
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;

    @media screen and (min-width: 767px) {
        animation: fade-out linear both;
        animation-timeline: view();
        animation-range: cover 50% cover 65%;
    }

    @media screen and (max-width: 767px) {
        height: auto;
        margin-top: 10vh;

        animation: fade-out linear both;
        animation-timeline: view();
        animation-range: cover 70% cover 95%;
    }
}

.about_front_sub {
    width: 65%;
    line-height: 1.5rem;

    @media screen and (max-width: 767px) {
        width: 65%;
    }
}

.about_front_sub h1 {
    text-align: center;

    @media screen and (max-width: 767px) {
        display: none;
    }
}

.service_section_2 {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-around;

    @media screen and (min-width: 767px) {
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
        justify-content: start;
        margin-top: 10vh;
        height: auto;
    }
}

.service_section_2_sub {
    width: 25%;
    height: 50vh;
    line-height: 1.5rem;

    @media screen and (max-width: 767px) {
        height: auto;
        width: 75%;
    }
}

.service_section_2_sub ul {
    list-style-type: "> ";
    line-height: 2rem;
    padding-inline-start: 1em;
}

.service_section_3 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 767px) {
        animation: fade linear both;
        animation-timeline: view();
        animation-range: entry 50% cover 50%;
    }

    @media screen and (max-width: 767px) {
        height: auto;
        align-items: start;
        margin-top: 10vh;
        margin-bottom: 5vh;
    }
}

.pricing_cards {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    font-family: var(--font);

    @media screen and (max-width: 767px) {
        width: 90%;
    }
}

.pricing_cards div {
    height: auto;
    width: 80%;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1), 0 2px 15px rgba(255, 255, 255, 0.1);

    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: center;
    justify-content: space-between;

    text-align: left;
}

.pricing_cards div h3 { 
    font-size: var(--h);
}

.pricing_desc_main {
    text-align: center;

    @media screen and (max-width: 767px) {
        margin-block-start: 0;
    }
}

.pricing_cards ul {
    width: 100%;
    padding-inline-start: 0;
}

.pricing_cards div p {
    font-size: var(--p);
    text-align: center;
    line-height: 1.5rem;
}

.pricing_cards div li {
    list-style: none;
    line-height: 1.5rem;
}

#card {
    background-image: 
        linear-gradient(black, black),
        linear-gradient(calc(var(--rotation)), #888, 0, #444 20%,
        transparent 80%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    position: relative;
}

.ai_integration_h1 {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.ai_integration_h2_a {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.ai_integration_h2_b {
    @media screen and (min-width: 767px) {
        display: none;
    }
}

.web_dev_h1 {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.web_dev_h2_a {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.web_dev_h2_b {
    @media screen and (min-width: 767px) {
        display: none;
    }
}

.web_management_h1 {
    @media screen and (max-width: 767px) {
        display: none;
    }
}
